/* 全局样式 */
*{
  margin: 0;
  padding: 0;
}
li{
  list-style: none;
}
a{
  text-decoration: none;
  color: #000;
}
html,body,#root{
  height: 100%;
}
.main{
  padding: 100px 0;
  box-sizing: border-box;
}
.triangle_gray{
  width: 0;
  height: 0;
  border-width: 5px;
  border-style: solid;
  margin-left: 5px;
  margin-top: 23px;
  border-color: #999999 transparent transparent transparent;
}









