.movie_detail-e{
    width: 100%;
    font-size: 13px;
    
}
.mainDetail-e{
    width: 100%;
    padding-top:50px; 
    height: 188px;
}
 .login-e{
    width: 100%;
    height: 200px;
    background: rgba(0, 0, 0, 0.671);
   }
.login-e .pic_show-e img{
    width: 110px;
    height: 150px;
    margin: 25px 20px;
    float: left;
    z-index: 9;
    border: 2px solid #999;
}
.garden{
    width: 25px;
    height: 25px;
    border: 1px solid #999;
    position: absolute;
    top:195px;
    left: 100px;
    border-radius: 50%;
}
.garden p{
    border-width: 10px;
    border-style: solid;
    border-color: transparent transparent transparent #999;
    border-radius:6px; 
    margin:3px 9px;
}
.info_list-Star i{
    width: 120px;
    height: 20px;
    margin-left:-10px; 
    font-size: 25px;
    font-weight: 700;
    color: #fc0;
    float: left;
}


.login-e .info_list-e h2{
    float: left;
    padding: 20px 0 0;
    margin-left:-10px; 
    color: #fff;
}
.login-e .info_list-e h3{
    width: 120px;
    height: 20px;
    float: left;
    margin-left:-50px; 
    font-size: 18px;
    font-weight: 700;
    color: #fc0;
    float: left;
}
.login-e .info_list-e h3 i{
    width: 100px;
    height: 30px;
    font-size: 25px;
}
.login-e .info_list-e span{
    width: 100px;
    height: 20px;
    float: left;
    color: #fff;
    display: in;
    position: relative;
    left: -60px;
    top: 4px;
    font-size: 13px;
    color: #cfcaca;
}
.login-e .info_list-e p{
    width: 180px;
    height: 20px;
    float: left;
    position:relative;
    top:0px;
    left: -10px;
    margin: 3px 0;
    color: #cfcaca;
}

.login_footer-e{
    font-size: 27px;
    color: #cfcaca;
    position: absolute;
    right: 10px;
    top: 125px;
}
 .info_list-right-e{
    width: 150px;
    height: 20px;
    background-color: #999;
    margin:0px 7px;
}
.Ticket{
    width: 100%;
    height: auto;
    background-color: #fff;
}

.Ticket span{
    display: inline-block;
    width: 330px;
    height: 40px;
    text-align: center;
    background-color: #e54847;
    line-height: 40px;
    color: #fff;
    border-radius: 5px;
    margin: 3px 20px;
    font-size: 16px;
}
.Ticket-show{
    width: 100%;
    height: 100px;
    background-color: #fff;
}
.Ticket-show p{
    font-size: 14px;
    margin: 10px 21px 0;
    height: 60px;
    /* background-color: red; */
    color: #555;
    overflow:scroll;
}

/* .Ticket-show h3{
    float: left;
    transform:rotate(90deg);
    font-size: 18px;
    margin: 0 180px;
} */

/***********人物样式*************/
.character{
    width: 100%;
    height: 200px;
    background-color: #fff;
    margin: 10px 0;
}

/**************媒体*****************/
.media-wrap{
    width:100%;
    height: 150px;
    overflow: hidden;
}
.media{
    width: 100%;
    height: 150px;
    background-color: #fff;
}
.media h4{
    width: 100%;
    height: 20px;
    line-height: 20px;
    margin-left:10px; 
}
.media .media-rido{
    height: 100px;
    display: flex;
    overflow-x: scroll;
    overflow-y: hidden;
}
.media .media-rido img{
    width: 120px;
    height: 65px;
    margin:10px 5px 0 10px;
    float: left;
}
.media-rido-left{
    width: 100%;
    height: 20px;
    background-color:#fff;
    position: relative;
    bottom:50px;
    left: 0;
}
.media-rido-left h3{
    width: 32%;
    height: 20px;
    margin: 10px 10px;
    color: #666;
    float: left;
    /* background-color: red; */
}
.media-rido-left h3 span{
    margin-left:50px; 
}
.media-rido-left h4{
    width: 62%;
    height: 20px;
    /* background-color: red; */
    margin: 10px 0px;
    float: right;
    line-height: 20px;
    color: #666;
}
.media-rido-left h4 span{
    margin-left:150px; 
}