.movie_detail{
    width: 100%;
    font-size: 13px;
}
.mainDetail{
    width: 100%;
    padding-top:50px; 
    height: 188px;
}
 .login{
    width: 100%;
    height: 200px;
    background: rgba(0, 0, 0, 0.5);
   }
.login .pic_show img{
    width: 110px;
    height: 150px;
    margin: 25px 20px;
    float: left;
}
.login .info_list h2{
    float: left;
    padding: 20px 0 0;
    margin-left:-10px; 
    color: #fff;
}
.login .info_list h3{
    width: 100px;
    height: 20px;
    float: left;
    margin-left:-10px; 
    font-size: 18px;
    font-weight: 700;
    color: #fc0;
}
.login .info_list span{
    width: 80px;
    height: 20px;
    float: left;
    color: #fff;
    position: relative;
    left: -60px;
    top: 4px;
    font-size: 13px;
    color: #cfcaca;
}
.login .info_list p{
    width: 160px;
    height: 20px;
    float: left;
    position:relative;
    top:0px;
    left: -10px;
    margin: 3px 0;
    color: #cfcaca;
}



.login_footer{
    font-size: 27px;
    color: #cfcaca;
    position: absolute;
    right: 10px;
    top: 125px;
}